* {
  box-sizing: border-box;
}

body {
  font-family: "Century Gothic", Helvetica;
}

input {
  margin: 3px 0px 5px 0px;
  width: 100%;
  border: solid 1px #9501af;
  border-radius: 3px;
  padding: 5px 0px;
}

input[type=textarea] {
  height: 150px;
}

#top {
  background-color: #9501af;
  width: 300px;
  height: 20px;
}

#main {
  margin: 10px 0px;
}

#form {
  display: none;
  font-size: 16px;
  margin-top: 10px;
}

#warning{
  display: none;
  border-radius: 5px;
  border: inset 1px #bababa;
  text-align: justify;
  width: 100%;
  background-color: #c1dbff;
  padding: 5px 10px;
  color: #666666;
  margin: 10px 0px;
  font-family: Helvetica;
}

#message {
  width: 100%;
  text-align: center;
  display: none;
}

#message p {
  font-size: 20px;
  font-weight: bold;
}

#submit{
  position: relative;
  float: right;
  background-color: #9501af;
  color: white;
  padding: 10px 15px;
  border: solid 1px black;
  border-radius: 3px;
  margin: 10px 0px;
}

div.fa-wrapper {
  text-align: center;
}
